* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #eaebef;
}

.bg {
  position: absolute;
  z-index: -1;
  displau: fixed;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  background: radial-gradient( white 10px, white 80%, rgba(200,200,200,0.2) 95%);
}

h1 {
  color: rgba(245,245,255,.8);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2),
    -2px -2px 1px rgba(255,255,255,.2);
}
