*{
box-sizing: boder-box;
}

.header-nav label{
  cursor: pointer;
}

#tagtype-list-check {
/*   display: none; */
}

.tagtype-list {
	display: none;
}

.type-list {
  display: none;
}

#tagtype-list-check:checked ~ .tagtype-list{
	display: block;
  width: 50pxl;
}

#type1:checked ~ .type-list{
  display: block;
}
