*{
box-sizing: boder-box;
  color: #555;
}

.header-nav label{
  transition: .3s;
  display: block;
  cursor: pointer;
}
.header-nav label:hover {
  transition: .5s;
/*   transform: scaleX(2); */
  font-size: 20px;
  color: #333;
}

.header-nav input[type="checkbox"] {
  display: none;
}

#tagtype-list-check {
/*   display: none; */
}

.tagtype-list {
	display: none;
}

.type-list {
  display: none;
}

#tagtype-list-check:checked ~ .tagtype-list{
	display: block;
  width: 50pxl;
}

#type1:checked ~ .type-list{
  display: block;
}
#type2:checked ~ .type-list{
  display: block;
}
#type3:checked ~ .type-list{
  display: block;
}

h2 {
  transition: .3s;
  text-align: center;
}
h2:hover {
  transition: .5s;
  transform: scale(2,2);
  color: orange;
}
